#octopus {
  z-index: -2;
  position:absolute;
  margin-left:180px;
  margin-top:150px;
}

#glasses {
  z-index:0;
  position:absolute;
  margin-top:250px;
  margin-left:224px;
}

#hat {
  z-index:-1;
  position:absolute;
  margin-left:160px;
  margin-top:60px;
}